reddit/HELP.md
reddit/.gradle
reddit/build/
reddit/!gradle/wrapper/gradle-wrapper.jar
reddit/!**/src/main/**/build/
reddit/!**/src/test/**/build/

### STS ###
reddit/.apt_generated
reddit/.classpath
reddit/.factorypath
reddit/.project
reddit/.settings
reddit/.springBeans
reddit/.sts4-cache
reddit/bin/
reddit/!**/src/main/**/bin/
reddit/!**/src/test/**/bin/

### IntelliJ IDEA ###
reddit/.idea
reddit/*.iws
reddit/*.iml
reddit/*.ipr
reddit/out/
reddit/!**/src/main/**/out/
reddit/!**/src/test/**/out/

### NetBeans ###
reddit/nbproject/private/
reddit/nbbuild/
reddit/dist/
reddit/nbdist/
reddit/.nb-gradle/

### VS Code ###
reddit/.vscode/
reddit/.gitignore
